@media only screen and (max-width:890px){
    #bimg{
    background: url('./images/velika_sliak.jpg') no-repeat 0 -400px;
    background-size: cover;
    }
    header nav{
        display: none;
    }
    .mobileNav{
        display: block;
    }
    #naslov #hana{
        color: white;
    }
    #naslov h1{
        color: #e8491d;
    }
    #bimg h1{
        font-size: 20px;
    }
}
@media only screen and (min-width:891px){
    .mobileNav{
        display: none;
    }
}

@media only screen and (max-width: 1200px){
    #bimg{
    background: url('./images/velika_sliak.jpg') no-repeat 0 -400px;
    background-size: cover;
    }
    #bimg h1{
        font-size:70px;
        margin-top: 20px;
    }

}

@media only screen and (max-width: 1662px){
    #bimg{
        background:url('./images/velika_sliak.jpg') no-repeat 0 -400px;
    }
}

@media only screen and (max-width: 1915px){
    #bimg{
        background:url('./images/velika_sliak.jpg') no-repeat 0 -400px;
    }
}

@media only screen and (max-width: 1778px){
    #bimg{
        background:url('./images/velika_sliak.jpg') no-repeat 0 -400px;
    }
    #bimg h1{
        font-size: 50px;
    }
    #bimg p{
        font-size: 40px;
    }
}
@media only screen and (max-width: 1716px){
    #bimg{
        background:url('./images/velika_sliak.jpg') no-repeat 0 -400px;
    }
    #bimg h1{
        font-size: 90px;
    }
    #bimg p{
        font-size: 30px;
    }
    #box .box1 img{
        width: 80px;
    }
    .box1 h3{
        font-size: 15px;
    }
    #box{
        margin-top: 5%;
        margin-bottom: 5%;
        min-height: 250px;
    }
    #box .box1{
        float: left;
        width: 25%;
        text-align: center;
        padding: 20px;
    }
}
@media only screen and (max-width: 1231px){

    #mail form{
        padding: 25px;
        float: right;
    }
    #mail input{
        padding: 15px;
        width: 200px;
        border-style: none;
        font-size: 15px;
    }
    #mail button{
        border-style: none;
        padding: 15px;
        color: white;
        font-size: 15px;
        width: 90px;
    }
}
@media only screen and (max-width: 1114px){

    #mail form{
        padding: 25px;
        float: right;
    }
    #mail input{
        padding: 15px;
        width: 180px;
        border-style: none;
        font-size: 15px;
    }
    #mail button{
        background-color: #e8491d;
        border-style: none;
        padding: 15px;
        color: white;
        font-size: 15px;
        width: 70px;
    }
}
@media only screen and (max-width: 1053px){

    #mail form{
        padding: 25px;
        float: right;
    }
    #mail input{
        padding: 15px;
        width: 140px;
        border-style: none;
        font-size: 12px;
    }
    #mail button{

        padding: 15px;
        font-size: 12px;
        width: 70px;
    }
}
@media only screen and (max-width: 1004px){

    #mail form{
        padding: 25px;
        float: right;
    }
    #mail input{
        padding: 10px;
        width: 130px;
        border-style: none;
        font-size: 10px;
    }
    #mail button{
        border-style: none;
        padding: 10px;
        font-size: 10px;
        width: 50px;
    }

#mail h1{
    font-size: 20px;
    text-align: center; 
}
}
@media only screen and (max-width: 695px){
    #box{
        margin-top: 5%;
        margin-bottom: 5%;
        min-height: 200px;
    }
    #box .box1{
        float: left;
        width: 20%;
        text-align: center;
        padding: 20px;
    }
}
@media only screen and (max-width: 695px){
    #box{
        margin-top: 5%;
        margin-bottom: 5%;
        min-height: 200px;
    }
    #box .box1{
        float: left;
        width: 20%;
        text-align: center;
        padding: 20px;
    }
}
@media only screen and (max-width: 811px){
    #bimg {
        height: 100%;
    }
    #bimg h1{
        font-size: 50px;
    }
    #bimg p{
        font-size: 30px;
    }
}
@media only screen and (max-width: 700px){
    #bimg h1{
        font-size: 50px;
    }
    #bimg p{
        font-size: 20px;
    }
}